
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#hotelSearchMap{
  height: 45.5%;
  width: 60%;
}
#map {
  height: 45%;
  width: 50%;
  float: left;
  /* display: inline-table; */
}
#pano {
  height: 45%;
  width: 50%;
  float: left;
  /* display: inline-block; */
}
/* Optional: Makes the sample page fill the window. */
html {
  height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* position: ; */
    /* background-color: lime; */
    background-image: url("d.jpg");
    /* background-position: bottom right; */
    /* background-position: top right ; */
    background-size: cover;
    background-repeat: no-repeat;
  }
  body {
      padding: 0 !important;
  }

.navbar {
  /* position: static; */
  background-color: rgba(0, 0, 0, 0.318) !important;
  
}

.navbar-brand , .navbar-light {
  /* position: static; */
  color: rgba(255, 255, 255) !important;
  
}
  
  #country{
    background-color: rgba(114, 180, 147, 0.787);
    height: 50px;
  }
  table {
      font-size: 12px;
  }
  #info-content{
      
  }
  .pac-container{
    background-color: rgba(114, 180, 147, 0.941);
  }
  .pac-item {
    color: cyan;
    background-color: rgba(170, 153, 211, 0.763);
  }
  .pac-icon{}
  .pac-matched{
    background-color: cyan;
  }
  .pac-item-query{
    background-color: rgb(200, 132, 218 0.8);
    font-size: 32px;
  }

  .hotel-search {
      /* bottom: 50%; */
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: transparent;
      /* background: rgb(174, 92, 92); 
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      left: 0;
      /* margin-left: 28%; */
      /* margin-right: 30%; */
      /* top: 5; */
      width: 25%; 
      position: absolute;
      margin-top: 15px;
      /* position: relative; */
      z-index: 1;
      
  }
  #listing {
    /* position: absolute; */
    /* width: auto; */
    /* height: 470px; */
    /* overflow: auto; */
    /* left: 442px; */
    /* left: 20px; */
    /* bottom: 0%; */
    /* top: 11%; */
    /* cursor: pointer; */
    /* overflow-x: hidden; */
  }
  
  #findhotels {
    font-size: 14px;
  }
  #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
    
  }
  #controls {
  position: right;
  
  }
  #autocomplete {
    margin-left: 15px;
    width: auto;
    color: black;
    font-size: 32px;
    background-color: rgba(170, 153, 211, 0.763);
  }
  #country {
    margin-left: 30%;
    width: 100%;
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
    display: right;
  }
  .placeIcon {
    width: 40px;
    height: 54px;
    margin: 4px;
  }
  .hotelIcon {
    width: 24px;
    height: 24px;
  }
  #results{
    font-size: 34px;
  }
  #resultsTable {
    border-collapse: collapse;
    background-color: rgba(170, 153, 211, 0.763);
    width: 100%;
    color: black;
    /* opacity: 0.8; */
    /* width: 240px; */
    /* margin-left: 80%; */
  }
  /* .td{ */
    /* background-color: blue; */
  /* } */
  #rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
  }
  .iw_table_row {
    
    height: 18px;
  }
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  .iw_table_icon {
    text-align: right;
    
  } 
  
  #listing {
    position: absolute;
    width: 40%;
    height: 45%;
    overflow: hidden;
    overflow-y: scroll;
    /* left: 442px; */
    left: 60%;
    /* bottom: 0%; */
    /* margin-top: 2%; */
    top: 69px;
    /* right: 100%; */
    cursor: pointer;
    overflow-x: visible;
    border-left: hidden;
    /* border: 4px solid rgba(0, 0, 0, 0.473); */
    border-radius: 10%;
    }

button.tilt-control-active {
      display: none;
    }

    .gm-tilt.gm-control {
      display: none;
    }